html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.element{
    cursor: pointer;
}
#elementPanel{
    height: calc( 100% - 2px );
    width: 160px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    background: white;
    z-index: 1000;
    float: left;

}
#objectSpan{
    float: left;
}